#s3 {
    display: block;
    
}

#p1 {
    display: inline;
    
}
#p2 {
    display: inline;
    
    
}

#img1 {
    
    left: 200px;
    top: 300px;
	position: fixed;
    
    
}

#img2 {
    
    top: 500px;
	position: absolute;
    
    
}